In [1]:
import pandas as pd
import os
import numpy as np

In [24]:
file_name = "reformed_data.csv"

# read data
data = pd.read_csv(file_name)

In [26]:
data = data.drop('Unnamed: 0', axis=1)

In [27]:
data

,track_id,speed,lon_acc,lat_acc,time,type,moving,img_x,img_y,img_angle,coord_id,lc
0,45,38.2121,0.0151,-0.0200,0.0,Car,True,2143,1375,0.071986,0,True
1,45,38.0674,-0.2361,-0.0508,0.4,Car,True,2172,1377,0.071486,10,True
2,45,37.9157,-0.2012,-0.0602,0.8,Car,True,2202,1379,0.069770,20,True
3,45,37.5489,-0.3050,-0.0863,1.2,Car,True,2231,1381,0.066833,30,True
4,45,37.0419,-0.4114,-0.1069,1.6,Car,True,2259,1382,0.063053,40,True
...,...,...,...,...,...,...,...,...,...,...,...,...
68436,2243,50.2733,-1.5150,-0.4383,862.4,Motorcycle,True,281,1367,0.061247,65,True
68437,2243,48.0276,-1.4087,-1.0684,862.8,Motorcycle,True,322,1369,0.041613,75,True
68438,2243,46.9236,0.1524,-1.6292,863.2,Motorcycle,True,360,1369,6.279051,85,False
68439,2243,49.5167,3.8135,-1.8114,863.6,Motorcycle,True,399,1368,6.219823,96,False
68440,2243,52.4950,4.9160,-1.6269,864.0,Motorcycle,True,441,1364,6.165810,107,False

In [29]:
id = data['track_id'].unique()

In [32]:
for i in id:

array([  45,   46,   50,   71,   74,  116,  165,  171,  207,  214,  217,
        218,  220,  221,  225,  228,  232,  238,  242,  243,  246,  251,
        255,  258,  262,  270,  279,  281,  283,  284,  288,  289,  295,
        298,  299,  310,  311,  317,  318,  321,  330,  337,  344,  345,
        354,  357,  359,  360,  369,  376,  380,  381,  387,  398,  408,
        424,  430,  443,  444,  445,  449,  450,  451,  452,  455,  458,
        460,  467,  475,  476,  501,  509,  510,  512,  513,  518,  520,
        523,  528,  534,  535,  538,  541,  543,  546,  548,  552,  553,
        573,  583,  587,  588,  589,  593,  596,  607,  609,  616,  621,
        630,  646,  656,  657,  661,  664,  668,  669,  671,  673,  678,
        683,  685,  689,  690,  699,  705,  709,  710,  711,  714,  720,
        725,  734,  737,  745,  747,  750,  754,  760,  762,  769,  772,
        774,  778,  782,  784,  791,  796,  798,  799,  801,  807,  813,
        819,  820,  840,  845,  847,  855,  864,  868,  871,  872,  876,
        877,  885,  889,  891,  895,  906,  913,  917,  922,  925,  930,
        935,  939,  940,  944,  955,  957,  970,  971,  977,  979,  982,
        984,  987,  988,  991,  995, 1005, 1008, 1016, 1026, 1030, 1031,
       1035, 1040, 1043, 1051, 1054, 1056, 1062, 1063, 1065, 1077, 1086,
       1087, 1094, 1098, 1102, 1109, 1119, 1125, 1137, 1143, 1153, 1155,
       1156, 1168, 1175, 1183, 1187, 1189, 1190, 1194, 1199, 1208, 1212,
       1216, 1229, 1236, 1240, 1243, 1254, 1259, 1261, 1268, 1283, 1288,
       1289, 1290, 1293, 1298, 1299, 1302, 1303, 1308, 1314, 1315, 1320,
       1321, 1325, 1332, 1339, 1343, 1346, 1350, 1357, 1366, 1369, 1377,
       1381, 1389, 1391, 1394, 1399, 1404, 1405, 1408, 1410, 1413, 1418,
       1419, 1422, 1425, 1431, 1438, 1442, 1445, 1454, 1456, 1462, 1463,
       1475, 1488, 1492, 1497, 1505, 1507, 1513, 1514, 1516, 1526, 1529,
       1536, 1539, 1542, 1552, 1569, 1584, 1586, 1597, 1605, 1617, 1620,
       1621, 1631, 1638, 1639, 1640, 1641, 1644, 1648, 1659, 1664, 1668,
       1669, 1671, 1677, 1682, 1687, 1688, 1691, 1711, 1714, 1718, 1728,
       1746, 1747, 1750, 1767, 1769, 1773, 1775, 1778, 1779, 1781, 1790,
       1796, 1798, 1801, 1814, 1815, 1816, 1819, 1820, 1821, 1822, 1824,
       1827, 1832, 1838, 1839, 1844, 1845, 1849, 1853, 1857, 1858, 1865,
       1871, 1878, 1882, 1892, 1895, 1899, 1906, 1911, 1927, 1929, 1940,
       1944, 1950, 1956, 1962, 1963, 1964, 1966, 1994, 2007, 2013, 2016,
       2018, 2036, 2042, 2046, 2051, 2058, 2074, 2095, 2129, 2157, 2169,
       2171, 2175, 2179, 2184, 2189, 2190, 2192, 2194, 2208, 2214, 2216,
       2221, 2226, 2243])